<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>love</string>
	<key>CFBundleIconFile</key>
	<string>TableauxProver.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.3</string>
	<key>CFBundleName</key>
	<string>TableauxProver</string>
	<key>NSMainNibFile</key>
	<string>SDLMain</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Laboratório de Tecnologia em Métodos Formais / Pontifícia Universidade Católica do Rio de Janeiro</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>http://www.tecmf.inf.puc-rio.br/TableauxProver</string>
		</dict>
	</array>
</dict>
</plist>
