TableauxPropI/applet/
TableauxPropI/application.*
TableauxProver/Package/MacOS/TableauxProver/TableauxProver.app/Contents/MacOS/love
TableauxProver/Package/MacOS/TableauxProver/TableauxProver.app/Contents/Frameworks/
*.love
*.deb
*.dmg
*.exe
*.dll
*.swp
*.tex
*.dot
*.log
*.txt
