Package: tableauxprover
Version: 1.1
Architecture: all
Maintainer: Bruno Lopes <bvieira@inf.puc-rio.br>
Installed-Size: 1612
Depends: love(>=0.7)
Section: science
Priority: extra
Homepage: http://www.tecmf.inf.puc-rio.br/TableauxProver
Description: TableauxProver is an automatic and semi-automatic theorem prover based on Tableaux.
