Package: tableauxprover
Version: 1.5
Architecture: all
Maintainer: Bruno Lopes <bvieira@inf.puc-rio.br>
Installed-Size: 1612
Depends: love(>=0.8), zip
Section: science
Priority: extra
Homepage: http://www.tecmf.inf.puc-rio.br/TableauxProver
Description: TableauxProver is an automatic and semi-automatic theorem prover based on Tableaux. The output may be exported to a LaTeX or Dot file.
